body{
    background-color:black;

}


.card{
    width:400px;
    height:200px;
    background-image: url('../assets/background.png');
    background-repeat:no-repeat;
    background-size:cover;
    padding: 1px 20px;
    margin:auto;
    margin-top:10%;
    box-sizing: border-box;

}

.Isntagram{
    list-style-image: url("../assets/Insta.png");


}

.Twitter{
   list-style-image: url("../assets/Twitter.png");


}   

.Youtube{
    list-style-image: url("../assets/Youtube.png");

}

a{
    text-decoration:none;
    color:black;

}